.lesson-container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px auto;
  width: 95%;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lesson-container h1 {
  color: #1a1a1a;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.lesson-container h2 {
  color: #007acc;
  font-size: 1.8em;
  margin-top: 30px;
  margin-bottom: 15px;
  border-bottom: 2px solid #007acc;
  padding-bottom: 10px;
}

.lesson-container h3,
.lesson-container h4 {
  color: #1a1a1a;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 1.4em;
}

.lesson-container p {
  color: #333333;
  margin: 15px 0;
  font-size: 1.1em;
  line-height: 1.7;
}

.lesson-container code {
  background: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Courier New', monospace;
  font-size: 1rem;
  color: #333;
  display: block;
  word-wrap: break-word;
}

code {
  display: inline-block;
  background: #f1f1f1;
  padding: 2px 5px;
  border-radius: 4px;
  color: #c7254e;
}

.lesson-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow-x: auto;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lesson-container table th,
.lesson-container table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
  vertical-align: top;
  font-size: 1em;
  color: #333;
}

.lesson-container table th {
  background: #a8dadc;
  color: #1d3557;
  font-weight: bold;
  text-transform: uppercase;
}

.lesson-container ul {
  margin-left: 20px;
  padding-left: 20px;
  list-style-type: disc; /* Ensure outer list has bullet points */
}

.lesson-container ul ul {
  margin-left: 20px;
  list-style-type: none; /* Remove bullet points from nested lists */
}

.lesson-container ul li,
.lesson-container ol li {
  margin-bottom: 10px;
  font-size: 1.1em;
  line-height: 1.7;
}

.lesson-container ul li::before {
  content: "\2022";
  color: #1d3557;
  font-size: 1.2em;
  margin-right: 8px;
}

.lesson-container button {
  background-color: #007acc;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.lesson-container button:hover {
  background-color: #005b80;
}

@media (max-width: 1200px) {
  .lesson-container {
    width: 95%;
    padding: 15px;
  }

  .lesson-container h1 {
    font-size: 2rem;
  }

  .lesson-container h2 {
    font-size: 1.6rem;
  }

  .lesson-container h3,
  .lesson-container h4 {
    font-size: 1.3rem;
  }

  .lesson-container p {
    font-size: 1rem;
  }

  .lesson-container pre,
  .lesson-container code {
    font-size: 0.9rem;
  }

  .lesson-container button {
    font-size: 1rem;
    padding: 8px 16px;
  }
}
