<div class="quiz-container">
  <div *ngFor="let quiz of quizzes" class="quiz-item">
    <h2>{{ quiz.question }}</h2>
    <mat-list>
      <mat-list-item *ngFor="let option of quiz.options; let i = index" [ngClass]="getClass(quiz.id, i + 1)"
        (click)="selectOption(quiz.id, i + 1)">
        {{ option }}
      </mat-list-item>
    </mat-list>
  </div>
  <!-- HTML -->
<div class="button-container">
  <button mat-raised-button class="custom-button" (click)="submitAnswers()">Submit</button>
</div>


</div>
