.problem-container {
  padding: 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

.problem {
  margin: 20px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: none;
}

h2 {
  color: #0056b3;
}

pre {
  background-color: #eef;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  margin: 10px 0;
}

p {
  font-size: 14px;
  color: #333;
}
