<div class="container">
  <div class="sidebar" [class.collapsed]="isCollapsed">
    <button (click)="toggleSidebar()">Menu</button>
    <ul>
      <li><a routerLink="/intro" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Introduction</a>
      </li>
      <li>Programming
        <ul>
          <li><a routerLink="/prog" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Explanation</a>
          </li>
          <li><a routerLink="/prog-exam" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Example</a>
          </li>
          <li><a routerLink="/prog-prob" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">Problems</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
